html {
  /* color-scheme: dark light; */
  scroll-behavior: smooth;
}
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* font-family: "Lato",sans-serif; */
  /* color: #666; */
}
